.App {
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

ul {
  font-size: 15px;
}

li{
text-align: left;
}

.links {
  font-size: large;
}

.button{
  border: 4px solid #869287; /* Green */
  background-color: wheat
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.links {
  top: 50px;
}

.App-header {
  background-color: #334f89;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WorkoutCard {
  border-style: solid;
  border-top-style: dotted;
  border-left-style: dotted;
  font-size: 15px;
  display: inline-block;
  width: 300px;
  height: 200px;
  padding: 5px;
  text-align: center;
  overflow-wrap: break-word;
  overflow: scroll;
  word-wrap: break-word;
  hyphens: auto;
}